
.h1{
    text-align: center;
    font-size: 40px;
    line-height: 2;
}
.cont {
    width:100%; 
    height: 1000px;
    border: 5px solid red;
}

.sub {
    position: relative;
    width: 50%;
    left: 25%;
    top: 50px;
    text-align: center;
    border: 5px solid green;
    font-size: 24px;
}

.choice-cont {
    position: relative;
    border: 5px solid yellow;
    top: 200px;
    left: 15%;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.choice{
    position: relative;
    border: 5px solid blue;
    width: 200px;
    height: 200px;
    top: 10%;
    margin-left: 10px;
    text-align: center;
    float: left;
    margin-right: 100px;
}

.choice-img{
    position: relative;
    width: 150px;
}


.img{
    position: relative;
    cursor: pointer;
    width: 200px;
    float: left;
    left: 50px;
}

.img:hover{
    top: 3px;
}

.btn {
    position: relative;
    top: 50%;
    
    padding: 3px;
}