
.h1{
    text-align: center;
    font-size: 40px;
    line-height: 2;
}
.cont {
    width:100%; 
    height: 700px;
    
}

.score, .message, .desc , .desc2 {
    position: relative;
    width: 50%;
    left: 25%;
    top: 5px;
    text-align: center;
    
    font-size: 30px;
    margin-top: 40px;
    
}

.desc{
    top: 80px;
}

.desc2{
    top: 80px;
    font-size: 25px;
}

.choice-cont {
    position: relative;
    
    top: 70px;
    left: 15%;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    
}

.choice{
    position: relative;
    
    width: 200px;
    height: 200px;
    top: 10%;
    margin-left: 10px;
    text-align: center;
    float: left;
    margin-right: 100px;
    left: 50px;
}

.choice-img{
    position: relative;
    height: 200px;
    width: 200px;
}


.choice-img:hover{
    top: 10px;
    cursor: pointer;
}

.choice-text{
    position: relative;
    font-size: 22px;
    top: 10px;
}




.img{
    position: relative;
   
    width: 200px;
    float: left;
    
}



.btn {
    position: relative;
    top: 50%;
    
    padding: 3px;
}